:root{
  --pad-color: #bcc;
  --pad-pressed: #aaa;
}

html, body {
    height: 100%;
}

body{  
  background-color: #bbb;
  display:flex;
  align-items: center;
  justify-content: center;
}

#drum-pads{
  display:flex;
  width: 250px;
  
  flex-flow: row wrap;
  padding: 0.5em;
  gap: 10px 20px; 
}

.drum-pad{
  width: 70px;
  height: 70px;

}

#control-panel{
  flex-grow: 1;
  flex-direction: column;
  display:flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
  height: 100%;
}

#drum-machine{
  display: flex;
  width: 500px;
  height: 350px;
  align-items: center;
  justify-content: space-between;
  background-color: #ddd;
  
}

#display{
  font-family: sans-serif;
  height: 1.5rem;

}

#slider{
  display:flex;
  flex-direction: column;
}